.home-who-we-help {
  max-width: 1850px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color-gray;
}

.who-we-help__container {
  width: 50%;
  align-self: center;
}

.who-we-help__header {
  font-size: 36px;
  margin: 30px;
}

.who-we-help__buttons {
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.who-we-help__button {
  width: 200px;
  height: 40px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background: none;
  border: none;
}

.button__active {
  border: 1px solid $color-light-gray;
  height: 75px;
}

.who-we-help-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.who-we-help-list__header {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 700px;
  text-align: center;
}